html, body {
  color: black;
  background-color: white
}

input {
  color: black;
}

input::-webkit-input-placeholder {
    color:    black;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}
input:-moz-placeholder {
    color:   black;
        text-align: center;

    font-weight: bold;
    font-size: 17px;
}
input:-ms-input-placeholder {
    color:   black;
    font-weight: bold;
        text-align: center;
        font-size: 17px;

}
input:focus::-webkit-input-placeholder {
    color:    black;
        text-align: center;

    font-weight: bold;
    font-size: 17px;
}
input:focus:-moz-placeholder {
    color:  black;
        text-align: center;

    font-weight: bold;
    font-size: 17px;
}
input:focus:-ms-input-placeholder {
    color:   black;
        text-align: center;

    font-weight: bold;
    font-size: 17px;
}

.centertext{
  text-align: center;
}


.list-container{
  width: 66%;
  margin:0 auto;
}


.monstylist {
  width: 202px;
  height: 57px;
  padding-top: 30px;
  padding-left: 30px;
}

#monstylist {
  font-size: 36px;
  font-family: "Osaka";
}

.maintagline {
  font-size: 26px;
  padding-left: 30px;
  margin-top: 20px;
  color: #FF6622;
  text-align: left;
  font-family: "Helvetica Neue";
}

.width20{
  width: 19%;
}

.width40{
  width: 39%;
}


.fillin {
  height:40px;
}

.medium {
  width: 150px;
}

.big {
  width: 300px;
}

.mainbutton {
  font-size: 20px;
  /*height: 50px;*/
  /*padding: 15px 50px 15px 50px;*/
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  font-family: "Helvetica Neue";
  text-align: center;
  background-color: #FF6622;
}

.mainbutton:hover {
  color: white;
  background-color: #88DBE9;
}





.form-container {
  background-image: url("/cool_m.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: auto;
  padding-top: 20px;
  height: 520px;
  position: relative;

}

/*.landing-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-position:top center;
  left: 0;
  background-image: url("/cool.png");
  background-color: #1B3C67;
  background-repeat: no-repeat;
}*/

.absolute {
  position: absolute;
}

.bottom {
  bottom: 5px;
  left: 0;
  right: 0;
}

.text-center{
  text-align: center;
}


ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/

    margin: 0;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol.simple-list > li{
  font-size: 17px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    /*border-left: 2px solid #CCCCCC;*/
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #FF6622;

    content: counter(li-counter);
    counter-increment: li-counter;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: bold;
}
.orange{
  color: #FF6622;;
}






@media (max-width: 600px) {
  .mainbutton {
    width: 90%;
  }

}





