html, body {
  color: black;
  background-color: white
}

input {
  color: black;
}

.monstylist {
  width: 202px;
  height: 57px;
  padding-top: 30px;
  padding-left: 30px;
}

#monstylist {
  font-size: 36px;
  font-family: "Osaka";
}

.maintagline {
  font-size: 26px;
  padding-left: 30px;
  margin-top: 20px;
  color: #FF6622;
  text-align: left;
  font-family: "Helvetica Neue";
}

.info {
  margin-top: 30px;
  padding-left: 30px;
}

.fillin { 
  height: 50px;
}

.medium {
  width: 150px;
}

.big {
  width: 300px;
}

.mainbutton {
  font-size: 25px;
  height: 50px;
  padding: 15px 50px 15px 50px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  font-family: "Helvetica Neue";
  text-align: center;
  background-color: #FF6622;
}

.mainbutton:hover {
  color: white;
  background-color: #88DBE9;
}





.form-container {
  background-image: url("/cool_m.png");
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 20px;
  height: 735px;
}

/*.landing-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-position:top center;
  left: 0;
  background-image: url("/cool.png");
  background-color: #1B3C67;
  background-repeat: no-repeat;
}*/

.absolute {
  position: absolute;
}

.bottom {
  bottom: 5px;
  left: 0;
  right: 0;
}

.text-center{
  text-align: center;
}

@media (max-width: 600px) {
  .mainbutton {
    width: 90%;
  }

}





