<template name="landingpage">

  <div class="landing-container">
      <p class="monstylist">
        <img src="/monstylist.png"/>
      </p>

      <p class="maintagline">
        HERE TO HELP THE MODERN GENTLEMAN LOOK HIS VERY BEST.
      </p>

      <div class="form-container center-block">

          <form id="user-form" action="action">
               <div style="position:absolute;bottom:0;width: 100%;padding: 10px;background-color: rgba(0,0,0,.6);text-align: center;height: 75px;padding-top: 17px;">

              <input id="user-name" class="fillin medium" placeholder="Name">
              <input id="user-cell" class="fillin medium" placeholder="Cell #">
              <input id="user-email" class="fillin big" placeholder="Email">
              <input type="submit" class="mainbutton btn width20" value="Let's go">
            </div>
          </form>
        </div>

        <div class="3steps-container">
          <h2 class="centertext orange">OUR 3 STEPS TO STYLE</h2>
          <div class="list-container">
              <ol class="simple-list">
                <li><span class="bold">Consultation:</span>Monstylist connects you to a personal stylist who gets to know you through a quick call and questionnaire. You set an appointment to meet and shop in person.</li>
                <li><span class="bold">Your stylist does the work:</span> Before your meeting, your stylist goes around and preselects items based on your objective.</li>
                <li><span class="bold">Shopping day:</span> You meet and shop together helped by what your stylist has already spotted for you. Your stylist is there while you try things on, and you get an honest opinion.</li>
              </ol>
          </div>
        </div>

                <div class="3steps-container" style="margin-bottom:50px">
          <h2 class="centertext orange">ABOUT</h2>
          <div class="list-container">
          <p style="font-size:17px">Monstylist was started by two Frenchmen who share a passion for style and quality of life.<br>
<span class="bold underline"><a href="mailto:someone@example.com" target="blank">Contact us here</a></span> for more details.</p>
</div>
        </div>




  </div>

</template>