<template name="landingpage">

  <div class="landing-container">
      <p class="monstylist">
        <img src="/monstylist.png"/>
      </p>

      <p class="maintagline">
        HERE TO HELP THE MODERN GENTLEMAN LOOK HIS VERY BEST.
      </p>

      <div class="form-container info center-block">
          <form id="user-form" action="action">
            <div>
              <input id="user-name" class="fillin medium" placeholder="Name">
              <input id="user-cell" class="fillin medium" placeholder="Cell #">
              <input id="user-email" class="fillin big" placeholder="Email">
              <input type="submit" class="mainbutton btn" value="Let's go">
            </div>
          </form>
        </div>
    
        
 
      
  </div>

</template>