<template name="landingpage">

  <div class="landing-container">
      <p class="name">
        <span id="monstylist">monstylist</span>
      </p>

      <p class="maintagline">
        Here to help the busy San Francisco gentleman look dapper.
      </p>

      <div class="subtagline">
        <p>
          Your personal stylist shops for you and delivers to your door. 
        </p>
        <p>
          You keep what you like. But what's not to like?
        </p>
      </div>

      <div class="info center-block">
          <form id="user-form" action="action">
            <div>
              <input id="user-name" class="fillin medium btn" placeholder="Name">
              <input id="user-cell" class="fillin medium btn" placeholder="Cell #">
              <input id="user-email" class="fillin big btn" placeholder="Email">
            </div>
            <div>
              <input type="submit" class="mainbutton btn" value="Request your free 5-minute style consultation.">
            </div>
          </form>
        </div>
    
        
      <div class="absolute bottom text-center">
        <p>
          Life's too short to dress poorly.
        </p>
        <a style="color:white; text-decoration:underline;" href="">contact</a>
      </div>

      
  </div>

</template>